@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

header{
    position: relative;
    width: 100%;
    
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background: #121211;
}
body{
    margin: 0;
    background-color: #121211;
}



h3 a{
    text-decoration: none;
    color: #f1f2f6;
    padding: 2em;
    font-family: Oswald ;
}

h3 a:hover{
    color:#6CB0E4;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
  }

.searchTerm {
    width: 100%;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
  }

  .searchmov{
    padding:6px;
    height:15px;
  }

  .searchmov:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    position: absolute;
    width: 40px;
    height: 30px;
    border: 1px solid #121211;
    background: #121211;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .wrap{
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 2em;
    margin-left:7%;
  }

  #menu-toggle{
    display:none;
   }

  @media screen and (max-width: 768px) {
    nav{
     display:none;
    }
    #menu-toggle{
     display:block;
     width:100%;
     display:flex;
     flex-direction:column;
     justify-content: center;
     align-items: center;
     background-color: #121211;
     z-index:2;
     
    }
 
    #spans{
     display:flex;
     flex-direction: row;
     align-items:center;
     width:100%;
     
    }
 
    #spans3{
     width:43%;
     padding:2%;
     
    }
 
    #spans3 span{
     display: flex;
     flex-direction: column;
     width: 25px; 
     height: 3px; 
     background-color: #fff;
     margin-bottom: 5px; 
     margin:2%;
 
     
     
    }
    #menu-toggle ul{
     list-style: none;
     display:none;
     flex-direction: column;
     justify-content: center;
     padding:0;
     margin:0;
     
    }
 
    
 
    #menu-toggle li{
     list-style: none;
     padding:0;
     display:flex;
     justify-content: center;
     
     
    }
 
 
    #js-menu{
     display:none;
    }
 
    #js-menu a{
     color:white;
    }
 
    #mvpage{
     display: flex;
     flex-direction: column;
     align-items: center;
     width:100%;
     padding-top:70px;
     z-index:1;
     
 
     }
 
     #mvpage img{
         width:70%;
     }
    
 }

 @media screen and (max-width: 1024px) and (min-width:769px) {
  nav{
   
   display:none;
  }
  #menu-toggle{
   display:block;
   width:100%;
   display:flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
   background-color: #121211;
   z-index:2;
   
  }

  #spans{
   display:flex;
   flex-direction: row;
   align-items:center;
   width:100%;
  }

  #spans3{
   width:43%;
   padding:2%;
  }

  #spans3 span{
   display: flex;
   flex-direction: column;
   width: 25px; 
   height: 3px; 
   background-color: #fff;
   margin-bottom: 5px; 
   margin:2%;

   
   
  }
  #menu-toggle ul{
   list-style: none;
   display:none;
   flex-direction: column;
   justify-content: center;
   padding:0;
   margin:0;
   
  }

  

  #menu-toggle li{
   list-style: none;
   padding:0;
   display:flex;
   justify-content: center;
   
   
  }


  #js-menu{
   display:none;
  }

  #js-menu a{
   color:white;
  }

  #mvpage{
   display: flex;
   flex-direction: column;
   align-items: center;
   width:100%;
   z-index:2; 
   padding-top:45px;
   }

   #mvpage img{
       width:40%;
   }
  
}