@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


body{
    background-color: #121211;
}

h1{
 font-family: Oswald;
 color: #f1f2f6;
}

#latestmov{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}