@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

footer{
    background-color: black;
    font-family: Oswald;
    color: #f1f2f6;
}

#foot{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content:center ;
}

span{
    display: flex;
    flex-direction: row;
}


#foot a{
    padding:0;
}
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact h3{
    margin: 0;
    margin-bottom: 0.5em;
}