@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #121211;
    color: #f1f2f6;
}

h1{
    font-family:Poppins;
    text-align:center;
}

h3{
    font-family:Poppins;
    text-align:center;
}

#cart_movie{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.movie{
    display:flex;
    flex-direction: row;
    border:2px solid #6CB0E4;
    align-items:center;
    justify-content: space-between;
    width:60%;
    border-radius:7px;
    padding-right:2%;
}

.movie img{
    width:130px;
    margin-right:3%;
    border-radius:7px;
}

.movie h2{
    font-family:Poppins;
    margin-right: auto;
}

.movie p{
    font-family:Poppins;
    text-decoration:bold;
    margin-right:2%;
    
}

.movie button{
    font-family:Poppins;
    text-decoration:bold;
    padding:5%;
    margin-right:10%;
    background-color: #6CB0E4;
    border-radius:7px;
    color:white;
    border:none;
    width:110%;
}

.total{
font-family:Poppins;
}

.empty button{
    background-color: #6CB0E4;
    color:white;
    font-family:Poppins;
    border:none;
    padding:5%;
    border-radius:7px;
    width:120%;
    margin-bottom:100%;
}

.empty button:hover{
    cursor:pointer;
    background-color: #1d3557;
}




@media screen and (max-width: 768px) {
    .movie{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding:5%;
    }

    .movie button{
        font-family:Poppins;
        text-decoration:bold;
        padding:5%;
        background-color: #6CB0E4;
        border-radius:7px;
        color:white;
        border:none;
        width:110%;
    }

}